.payment {
    background-color: white;
    border-radius: 16px;
    width: 851px;
    margin: 10px 0;
    padding: 16px 24px 24px 24px;
    width: 841px;
    height: 150px;
    margin: 19px -1px 13px 39px;
}