.delivery {
    background-color: white;
    border-radius: 16px;
    width: 850px;
    height: 467px;
    padding: 13px 41px 24px 11px;
    margin: 18px 6px 13px 13px;
    background-color: white;
    border-radius: 16px;
    width: 837px;
    height: 442px;
    padding: 22px 48px 48px 0px;
    margin: 9px -1px 13px 39px;
}